[Desktop Entry]
Encoding=UTF-8
Name=diablo
Comment=diablo P2P Cryptocurrency
Comment[fr]=diablo, monnaie virtuelle cryptographique pair à pair
Comment[tr]=diablo, eşten eşe kriptografik sanal para birimi
Exec=diablo-qt %u
Terminal=false
Type=Application
Icon=diablo128
MimeType=x-scheme-handler/diablo;
Categories=Office;Finance;
