[Unit]
Description=diablo's distributed currency daemon
After=network.target

[Service]
User=diablo
Group=diablo

Type=forking
PIDFile=/var/lib/diablod/diablod.pid

ExecStart=/usr/bin/diablod -daemon -pid=/var/lib/diablod/diablod.pid \
          -conf=/etc/diablo/diablo.conf -datadir=/var/lib/diablod

ExecStop=-/usr/bin/diablo-cli -conf=/etc/diablo/diablo.conf \
         -datadir=/var/lib/diablod stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
